.background{
    background-color: #FFE001;
    min-height: 100vh;
}

.backgroundgrid{
    display: grid;
    grid-template-columns: repeat(24,1fr);
    position: relative;
}

.griditem{
    display: contents;
}
