.background{
    background-color: #FEE303;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 600px) {
        padding: 0 10px 0 10px;
    }
}

.backgroundgrid{
    display: grid;
    grid-template-columns: repeat(24,1fr);
    position: relative;
}

.griditem{
    display: contents;
}
