.h1{
    display: inline-block;
    font-size: clamp(5%, 5vw, 100px);
}

.h2{
    font-size: clamp(16px, 2vw, 30px);
    grid-column: 5 / span 3;
}

.textA{
    grid-column: 5 / span 4;
    font-size: clamp(14px, 1.5vw, 20px);
    margin-top: 30px;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.textAA{
    grid-column: 23 / span 1;
    margin-top: 20px;
    font-size: clamp(14px, 1.5vw, 20px);
}

.textB{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    grid-column: 5 / span 1;
    color: black;
    font-size: clamp(14px, 1.5vw, 20px);
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.textC1{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    grid-column: 2 / span 22;
    font-size: clamp(14px, 1.5vw, 20px);
    margin-top: 100px;
    color: black;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    padding: 10px 5% 100px 10px;
}

.imgC2{
    position: absolute;
    bottom: 0;
    right: 10px;
    height: auto;
    width: 100px;
}

.img1a,
.img1b,
.img1c{
    height: auto;
    width: 800px;
    padding: 10px 10px 10px 10px;
}

.img1a:hover,
.img1b:hover,
.img1c:hover {
    transform: scale(1.1);
}

.img1aLink{
    grid-column: 5 / span 3;
}

.img1bLink{
    grid-column: 11 / span 3;
}

.img1cLink{
    grid-column: 17 / span 3;
}

.img2a,
.img2b,
.img2c,
.img2d{
    height: auto;
    width: 1000px;
    padding: 10px 10px 10px 10px;
}

.img2a:hover,
.img2b:hover,
.img2c:hover,
.img2d:hover {
    transform: scale(1.1);
}

.img2aLink{
    grid-column: 5 / span 3;
}

.img2bLink{
    grid-column: 10 / span 3;
}

.img2cLink{
    grid-column: 15 / span 3;
}

.img2dLink{
    grid-column: 20 / span 3;
}

.img3a,
.img3b,
.img3c{
    height: auto;
    width: 800px;
}

.img3a:hover,
.img3b:hover,
.img3c:hover {
    transform: scale(1.1);
}

.img3aLink{
    grid-column: 5 / span 3;
}

.img3bLink{
    grid-column: 9 / span 3;
}

.img3cLink{
    grid-column: 13 / span 3;
}