.h1{
    display: inline-block;
    font-size: clamp(5%, 5vw, 100px);
}

.h2{
    font-size: clamp(16px, 2vw, 30px);
    grid-column: 5 / span 3;
}

.textA{
    grid-column: 2 / span 5;
    font-size: clamp(14px, 1.5vw, 20px);
    margin-top: 30px;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    @media (max-width: 600px) {
        grid-column: 2 / span 20;
    }
}

.textAA{
    grid-column: 23 / span 1;
    margin-top: 30px;
    font-size: clamp(14px, 1.5vw, 20px);
}

.textB{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    grid-column: 2 / span 1;
    color: black;
    font-size: clamp(14px, 1.5vw, 20px);
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    @media (max-width: 600px) {
        grid-column: 2 / span 20;
        justify-content: flex-start;
    }
}

.textC1{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    grid-column: 2 / span 22;
    font-size: clamp(14px, 1.5vw, 20px);
    margin-top: 100px;
    color: black;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    padding: 10px 5% 100px 10px;
}

.imgC2{
    position: absolute;
    bottom: 0;
    right: 10px;
    height: auto;
    width: 100px;
}

.img1a,
.img1b,
.img1c{
    height: auto;
    width: 800px;
    padding: 10px 10px 10px 10px;
    object-fit: cover;

    @media (max-width: 600px) {
        width: 300px;
        height: auto;
    }
}

.img1a:hover,
.img1b:hover,
.img1c:hover {
    transform: scale(1.1);
}

.img1aLink{
    grid-column: 5 / span 3;

    @media (max-width: 600px) {
        grid-column: 5 / span 6;
    }
}

.img1bLink{
    grid-column: 11 / span 3;

    @media (max-width: 600px) {
        grid-column: 11 / span 6;
    }
}

.img1cLink{
    grid-column: 17 / span 3;

    @media (max-width: 600px) {
        grid-column: 17 / span 6;
    }
}

.linkContainer{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column: 1 / span 24;
    margin-top: 20px;
    padding: 2px 4px;

    @media (max-width: 600px) {
        grid-template-columns: repeat(24, 1fr);
        position: relative;
        margin-bottom: 20px;
    }
}

.img2a,
.img2b,
.img2c,
.img2d{
    padding: 2px 4px;
    height: auto;
    width: 50vw;

    @media (max-width: 600px) {
        height: auto;
        width: 200px;
    }
}

.img2a:hover,
.img2b:hover,
.img2c:hover,
.img2d:hover {
    transform: scale(1.1);
}

.img2aLink{
    grid-column: 1 / span 3;

    @media (max-width: 600px) {
        grid-column: 1 / span 6;
        
    }
}

.img2bLink{
    grid-column: 5 / span 3;

    @media (max-width: 600px) {
        grid-column: 7 / span 6;
        
    }
}

.img2cLink{
    grid-column: 9 / span 3;

    @media (max-width: 600px) {
        grid-column: 13 / span 6;
        
    }
}

.img2dLink{
    grid-column: 13 / span 3;

    @media (max-width: 600px) {
        display: none;
        grid-column: 18 / span 4;
    }
}

.img3a,
.img3b,
.img3c{
    height: auto;
    width: 800px;
    object-fit: cover;

    @media (max-width: 600px) {
        height: auto;
        width: 100px;
    }
}

.img3a:hover,
.img3b:hover,
.img3c:hover {
    transform: scale(1.1);
}

.img3aLink{
    grid-column: 2 / span 4;

    @media (max-width: 600px) {
        grid-column: 2 / span 5;
    }
}

.img3bLink{
    grid-column: 8 / span 4;

    @media (max-width: 600px) {
        grid-column: 10 / span 5;
    }
}

.img3cLink{
    grid-column: 14 / span 4;

    @media (max-width: 600px) {
        grid-column: 18 / span 5;
    }
}