.onsa{
    position: absolute;
    width: 200px;
    height: 200px;
}

.onsaLink{
    grid-column: 21 / span 3;
}

.guitar{
    position: absolute;
    top: 400px;
    left: 50px;
    width: 350px;
    height: 350px;
    transform: rotate(45deg);
}

.guitarLink{
    grid-column: 1 / span 3;
}

.teddybear{
    position: absolute;
    top: 200px;
    width: 300px;
    height: 300px;
}

.teddyLink{
    grid-column: 1/ span 3;
}

.duck{
    position: absolute;
    grid-column: 1 / span 4;
    width: 600px;
    height: 250px;
}

.duckLink{
    grid-column: 1 / span 3;
}

.rubbercup{
    position: absolute;
    top: 400px;
    width: 200px;
    height: 200px;
}

.rubbercupLink{
    grid-column: 21 / span 3;
}

.hammer{
    position: absolute;
    top: 200px;
    width: 200px;
    height: 200px;

}

.hammerLink{
    grid-column: 21 / span 3;
}

.firstview{
    grid-column: 5 / span 16;
    width: 1280px;
    height: 720px;
}