.onsa{
    position: absolute;
    width: 20vw;
    height: auto;
    top: 10px;
    padding: 2px 4px;

    @media (max-width: 600px) {
        display: none;
    }
}

.onsaLink{
    grid-column: 21 / span 3;
}

.guitar{
    position: absolute;
    top: 50vh;
    left: 5%;
    width: 50vw;
    height: auto;
    transform: rotate(30deg);

    @media (max-width: 600px) {
        display: none;
    }
}

.guitarLink{
    grid-column: 1 / span 4;
}

.sleepman{
    position: absolute;
    width: 30vw;
    height: auto;
    top: -20vh;
    left: 40vw;

    @media (max-width: 600px) {
        display: none;   
    }

    @media (min-width: 820px) and (max-width: 1080px) {
        bottom: 15px;
    }
}

.sleepmanLink{
    grid-column: 12 / span 3;
}

.teddybear{
    position: absolute;
    top: 30vh;
    width: 30vw;
    height: auto;

    @media (max-width: 600px) {
        display: none;
    }
}

.teddyLink{
    grid-column: 1/ span 3;
}

.duck{
    position: absolute;
    grid-column: 1 / span 4;
    top: 10vh;
    width: 50vw;
    height: auto;

    @media (max-width: 600px) {
        display: none;
    }
}

.duckLink{
    grid-column: 1 / span 3;
}

.rubbercup{
    position: absolute;
    top: 55vh;
    width: 25vw;
    height: auto;

    @media (max-width: 600px) {
        display: none;
    }

    @media (min-width: 820px) and (max-width: 1080px) {
        top: 20vh;
    }
}

.rubbercupLink{
    grid-column: 21 / span 3;
}

.hammer{
    position: absolute;
    top: 40vh;
    width: 20vw;
    height: auto;

    @media (max-width: 600px) {
        display: none;
    }

}

.hammerLink{
    grid-column: 21 / span 3;
}

.firstview{
    grid-column: 1 / span 24;
    width: 100%;
    height: auto;

    @media (max-width: 600px) {
        max-width: 100%;
        height: auto;
    }
}