.h1{
    display: inline-block;
    font-size: 100px;
}

.h2{
    font-size: 30px;
    grid-column: 5 / span 3;
}

.textA{
    grid-column: 5 / span 4;
    font-size: 20px;
    margin-top: 30px;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.textAA{
    grid-column: 23 / span 1;
    margin-top: 20px;
    font-size: 20px;
}

.textB{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    grid-column: 5 / span 1;
    color: black;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.textC1{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    grid-column: 2 / span 22;
    font-size: 20px;
    margin-top: 100px;
    color: black;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    padding: 10px 900px 100px 10px;
}

.textC2{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: black;
}

.text1a,
.text1b,
.text1c{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    font-size: 25px;
    text-decoration: none;
    background-color: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-right: solid 4px #627295;
    border-radius: 3px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.text1a:hover,
.text1b:hover,  
.text1c:hover{
    background-color: #627295;
    color: #FFF;
    transform: scale(1.05);
}

.text1a{
    grid-column: 5 / span 3;
    padding: 10px 10px 10px 10px;
}

.text1aLink{
    grid-column: 5 / span 3;
}

.text1b{
    grid-column: 10 / span 3;
    padding: 10px 10px 10px 10px;
}

.text1bLink{
    grid-column: 10 / span 3;
}

.text1c{
    grid-column: 15 / span 3;
    padding: 10px 10px 10px 10px;
}

.text1cLink{
    grid-column: 15 / span 3;
}

.text2a,
.text2b,
.text2c,
.text2d{
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

.trapezoid1,
.trapezoid2,
.trapezoid3,
.trapezoid4{
    width: 100px;
    height: 10px;
    background-color: black;
    clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
}

.trapezoid1{
    grid-column: 5 / span 3;
    margin-left: 35px;
}

.trapezoid2{
    grid-column: 10 / span 3;
    margin-left: 30px
}

.trapezoid3{
    grid-column: 15 / span 3;
    margin-left: 30px;
}

.trapezoid4{
    grid-column: 20 / span 3;
    margin-left: 30px;
}

.text2a{
    grid-column: 5 / span 3;
    padding: 10px 10px 10px 40px;
}

.text2b{
    grid-column: 10 / span 3;
    padding: 10px 10px 10px 15px;
}

.text2c{
    grid-column: 15 / span 3;
    padding: 10px 10px 10px 40px;
}

.text2d{
    grid-column: 20 / span 3;
    padding: 10px 10px 10px 40px;
    
}

.text3a,
.text3b,
.text3c{
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    border: solid 2px black;
    border-radius: 50%;
}

.bottom1,
.bottom2,
.bottom3{
    display: inline-block;
    height: 10px;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.bottom1{
    grid-column: 5 / span 3;
}

.bottom2{
    grid-column: 9 / span 3;
}

.bottom3{
    grid-column: 13 / span 3;
}

.text3a{
    grid-column: 5 / span 3;
    padding: 10px 10px 10px 35px;
}

.text3b{
    grid-column: 9 / span 3;
    padding: 10px 10px 10px 60px;
}

.text3c{
    grid-column: 13 / span 3;
    padding: 10px 10px 10px 50px;
}