.offshotcontainer{
    background-image: url('/images/その他部分背景素材.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text{
    color: black;
}

.back{
    color: black;
}