.postcard2container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    min-height: 100lvh;
    background-color: white;
    color: #000;
}

.content {
    grid-column: 5 / span 16;
    padding: 20px;

    @media (max-width: 600px) {
        grid-column: 3 / span 21;
        padding: 20px 10px;
    }
}

.postcard {
    display: flex;
    flex-direction: column;
}

.postheader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.icon {
    width: auto;
    max-height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}

.account {
    font-size: 25px;
    color: #000;
    @media (max-width: 600px) {
        font-size: 16px;
    }
}

.text {
    font-size: 16px;
    color: black;
    white-space: pre-line;

    @media (max-width: 600px) {
        font-size: 12px;
    }
}

.imageflex {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.image1,
.image2 {
    height: auto;
    width: 40%;


    @media (max-width: 600px) {
        width: 40%;
    }
}

.post {
    color: black;
    margin-bottom: 1rem;
}

.backLink {
    margin-bottom: 2vh;
}
