.funnynewscontainer{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    height: 100vh;
}

.menu{
    grid-column: 1;
    width: 200px;
    border-right: solid 1px #ccc;
    padding: 20px;
}

.content{
    grid-column: 2 / span 10;
    flex: 1;
    padding: 20px;
}

.postheader{
    display: flex;
    align-items: center;
}

.account{
    font-size: 25px;
}

.icon{
    width: auto;
    max-height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {
    display: block;
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
}

.active{
    background-color: #dbeafe;
    font-weight: bold;
}

.back{
    font-size: 16px;
}