.sloganContainer {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background-image: url('/images/その他部分背景素材.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.kyomei{
    grid-column: 4 / span 16;
    height: auto;
    width: 90%;
    max-width: 960px;
    display: block;
    margin: 0 auto;
    object-fit: cover;

    @media (max-width: 600px) {
        max-width: 100%;
        width: 100%;
    }
}

.description{
    grid-column: 2 / span 20;
    color: black;
    font-size: 20px;

    @media (max-width: 600px) {
        font-size: 10px;
        padding: 10px 10px 10px 10px;
    }
}

.back{
    font-size: 16px;
}

.backLink{
    grid-column: 1 / span 2;
}